@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono");
/*downloaded the svgs cause using urls was 'buggy'*/
* {
  transition-duration: 0.3s;
}
html,body {
  padding: 0;
}
body {
  margin-left: 5px;
  margin-right: 5px;
}
#bodyl{
  background-color: whitesmoke;
}
#bodyd{
  background-color: #454545;
}
.header {
  display: grid;
  align-items: center;
  justify-content: end;
  width:fit-content;
  opacity: 0.9;
  border-radius: 0px 0px 15px 15px;
}
.header.l{
  background-color: whitesmoke
}
.header.d {
  background-color: #454544;
}
.h1 {
  text-align: center;
  font-family: Raleway;
  padding-left: 20px;
}
.h1.l {
  color: #837DE9F7;
}
.h1.d {
  color: #e3e2fff7;
}


.div {
  font-family: 'Ubuntu Mono';
  font-size: smaller;
  line-height: 1.5;
}
#console{
  color:whitesmoke;
}
#console:hover{
  
}

#parentDiv {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  grid-gap: 15px;
  padding: 0 0;
}
#grid1 {
  display: grid;
  grid-gap: 0px;
}
#grid2 {
  display: grid;
  grid-gap: 10px;
}
#btngrid {
  height: 40px;
  width: 40px;
}
#drkgrid {
  height: 40px;
  width: 40px;
  padding-top: 20px;
}
#infodiv {
  position: fixed;
  bottom: -10px;
  right: 4px;
  height: 40px;
  width: 40px;
}

.bttn {
  border: 1px solid #454545;
  text-align: center;
  font-size: 12px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 4px;
  width: 35px;
  height: 25px;
}

.bttn.l {
  color: black;
  background-color: whitesmoke;
}
.bttn.l:hover {
  background-color: #454545;
  color: whitesmoke;
  transition-duration: 0.4s;
}
.bttn.d:hover {
  color: black;
  transition-duration: 0.4s;
  background-color: whitesmoke;
}
.bttn.d {
  background-color: #454545;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.dark {
  background-size: cover; 
  width: 20px; 
  height: 20px; 
  font-size: 2rem;
  transition-duration: 0.5s;
  border: none;
  border-radius: 100%;
}

.dark:hover {
  background-size: cover; 
  width: 20px; 
  height: 20px; 
  font-size: 2rem;
  transition-duration: 0.5s;
  border: none;
}
.dark.l {
  background-image: url( 
    'assets/day.svg');
    background-color: whitesmoke;
    border: none; /*dont knw why jst .dark border didnt work */

}
.dark.l:hover {
  background-image: url( 
    'assets/night.svg');
 background-color: whitesmoke;
}
.dark.d:hover {
  background-image: url( 
    'assets/night_d.svg');
  background-color: #454545;
}
.dark.d {
  background-image: url( 
    'assets/day_d.svg');
    background-color: #454545;
}
.info {
  background-size: cover; 
  width: 20px; 
  height: 20px; 
  font-size: 2rem;
  transition-duration: 0.5s;
  border: none;
  border-radius: 100%;
  background-image: url(assets/info.svg);
}
.info:hover {
  background-image: url(assets/info2.svg);
  transition-duration:0.4s;
}
.info.l{
  background-color: whitesmoke;
}
.info.d {
  background-color:#454545;
  background-image: url(assets/info_d.svg);
}
.info.d:hover {
  background-color:#454545;
  background-image: url(assets/info2_d.svg);
}

input[type=text] {
  font-family: 'Ubuntu Mono';
  width: 98%;
  border: none;
  border-bottom: 1px solid  #ff7f7ff7;
}
input[type=text]:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid #63c3f0;
}
input[type=text]:hover{
  outline: none;
  border: none;
  border-bottom: 1px solid #63c3f0;
  transition-duration: 1s;
}

.readonly.l:hover {
  border: none;
}
.readonly.l {
  color:#09749e;
   background-color: whitesmoke;
  border: none;
}
.readonly.d:hover {
  border: none;
}
.readonly.d {
  color:#76D1FF;
  background-color: #454545;
  border:none;
}
.txtinp.l {
   background-color: whitesmoke;
}
.txtinp.d {
  background-color:#454545;
  color:whitesmoke;
}
input:focus{
  outline: none;
  border: none;
}
span {
  color:#2a62c9;
  overflow-x: scroll;
}
.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #console {
  padding-top: 102px;
}

.abt {
  position: fixed;
  bottom: 40px;
  right: 10px;
  height:0%;
  width:0%;
  overflow-x: auto;
  overflow-y: auto;
  transition-duration: 0.5s;
  border-radius: 5px;
  opacity: 0.8;
}
.abt.l {
  background-color: #a7a7a7;
}
.abt.d {
  background-color: #858585;
}

h4, .txt, .warn {
  font-family: Raleway;
}
.txt {
  font-size: smaller;
}
.warn {
  font-size: x-small;
}
.txt.l {
  color: #383838;
}
.warn.l {
  color: #707070;
}
.txt.d{
  color: #e4e4e4;
}
.warn.d {
  color: #e0e0e0;
}