@import url("https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono");
/*downloaded the svgs cause using urls was 'buggy'*/
body{
  margin-right: 10px;
}
#bodyl{
  background-color: whitesmoke;
}
#bodyd{
  background-color: #454545;
}
header {
  display: grid;
  align-items: center;
  justify-content: end;
  width:fit-content;
}
.h1 {
  text-align:center;
  font-family: Raleway;
  padding-left: 30px;
}
.h1.l {
  color: #837DE9F7;
}
.h1.d {
  color: #e3e2fff7;
}


.div {
  font-family: 'Ubuntu Mono';
  font-size: smaller;
  line-height: 1.5;
}
#console{
  color:black;
}

#parentDiv {
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  grid-gap: 15px;
  padding: 0 0;
}
#grid1 {
  display: grid;
  grid-gap: 0px;
}
#grid2 {
  display: grid;
  grid-gap: 10px;
}
#btngrid {
  height: 40px;
  width: 40px;
}
#drkgrid {
  height: 40px;
  width: 40px;
  padding-top: 20px;
}


.bttn {
  border: 1px solid #454545;
  text-align: center;
  font-size: 12px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 4px;
  width: 35px;
  height: 25px;
}

.bttn.l {
  color: black;
  background-color: whitesmoke;
}
.bttn.l:hover {
  background-color: #454545;
  color: whitesmoke;
  transition-duration: 0.4s;
}
.bttn.d:hover {
  color: black;
  transition-duration: 0.4s;
  background-color: whitesmoke;
}
.bttn.d {
  background-color: #454545;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}

.dark {
  background-size: cover; 
  width: 20px; 
  height: 20px; 
  font-size: 2rem;
  transition-duration: 0.5s;
  border: none;
  border-radius: 100%;
}

.dark:hover {
  background-size: cover; 
  width: 20px; 
  height: 20px; 
  font-size: 2rem;
  transition-duration: 0.5s;
  border: none;
}
.dark.l {
  background-image: url( 
    'assets/day.svg');
    background-color: whitesmoke;
    border: none; /*dont knw why jst .dark border didnt work */

}
.dark.l:hover {
  background-image: url( 
    'assets/night.svg');
 background-color: whitesmoke;
}
.dark.d:hover {
  background-image: url( 
    'assets/day.svg');
  background-color: #454545;
}
.dark.d {
  background-image: url( 
    'assets/night.svg');
    background-color: #454545;
}


input[type=text] {
  font-family: 'Ubuntu Mono';
  width: 98%;
  border: none;
  border-bottom: 1px solid  #ff7f7ff7;
}
input[type=text]:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid #63c3f0;
}
input[type=text]:hover{
  outline: none;
  border: none;
  border-bottom: 1px solid #63c3f0;
  transition-duration: 1s;
}

.readonly.l:hover {
  border: none;
}
.readonly.l {
  color:#09749e;
   background-color: whitesmoke;
  border: none;
}
.readonly.d:hover {
  border: none;
}
.readonly.d {
  color:#76D1FF;
  background-color: #454545;
  border:none;
}
.txtinp.l {
   background-color: whitesmoke;
}
.txtinp.d {
  background-color:#454545;
  color:whitesmoke;
}
input:focus{
  outline: none;
  border: none;
}
.span {
  color:#2a62c9
}

.sticky {
  position: fixed;
  top: 0;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + #console {
  padding-top: 102px;
}

